html {
  height: 100%;
  width: 100%;
}

#hero {
  background: linear-gradient(135deg, #f8e2ff 0%, #e6f0ff 100%);
}

.color-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
	cursor: pointer;
  transform: translateY(-5px); /* Slide up */
}
